<% include cabecera.html %>

<!-- Mashead header-->
<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h3><%= bienvenido %> <%= title %></h3>

          <p>
            <%= __('Esta es una pagina de ejemplo para las traducciones') %>
          </p>

          <p><%= __('El color es azul') %></p>
        </div>
      </div>
    </div>
  </div>
</header>

<% include footer.html %>
