<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h2>Listado de productos</h2>

    <% productos.forEach(producto => { %>
    <p> Nombre del producto: <% producto.name %></p>
    <p> Coste del producto: <% producto.precio %></p>
    <p> Estado: <% if(producto.forSale){
      return 'Se vende'
    }else{
      return 'En busqueda'
    } %></p>
    <p> Etiquetas: <% producto.Etiquetas %></p>
    <p></p>
    <p></p>
    <p></p>
    
    <% }) %>

  </body>
</html>