<% include cabecera.html %>

<section class="bg-light">
  <div class="container px-5">
    <h1><%= __('Productos Nodepop') %></h1>

    <h2><%= __('Listado') %></h2>

    <% productos.forEach(producto => { %>
    <p><%= __('Nombre del producto') %> : <%= producto.name %></p>
    <p>
      <%= __('Estado') %> : <%= producto.forSale ? 'Se vende' : 'En busqueda' %>
    </p>
    <p><%= __('Precio') %> : <%= producto.precio %> $</p>
    <p><%= __('Etiquetas') %> : <%= producto.etiquetas %></p>
    <img src="/images/<%=producto.imagen %>" />
  </div>
</section>
<% }) %> <% include footer.html %>
